<div class="container my-5">
  <div class="card shadow border-0">
    <div class="row g-0">
      <!-- Imagen -->
      <div class="col-md-12 text-center p-4 border-end">
        <a href="/img/imagenes/{{nif}}/{{nombre}}" target="_blank">
          <img src="/img/imagenes/{{nif}}/{{nombre}}" class="img-fluid rounded shadow-sm" alt="{{foto.descripcion}}">
        </a>
      </div>

      <!-- Información y formulario -->
      <div class="col-md-12 p-4 d-flex flex-column justify-content-center">
        <form action="/aton/fotos/{{nif}}/{{nombre}}/update" method="POST">
          {{#if foto.descripcion}}
          <h4 class=" fst-italic mb-4" id="descripcion-actual">{{foto.descripcion}}</h4>
          {{/if}}
          <p class="text-muted mb-3 text-break">{{nombre}}</p>
          <!-- Botón para mostrar el campo de edición -->
          <button type="button" class="btn btn-outline-info mb-3" onclick="mostrarEdicion()">
            Editar descripción
          </button>

          <!-- Campo oculto inicialmente -->
          <div id="campo-edicion" class="mb-3 d-none">
            <label for="descripcion" class="form-label fw-bold">Modificar Descripción</label>
            <div class="d-flex flex-row gap-2">
              <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{foto.descripcion}}"
                placeholder="Nueva descripción de la foto">
              <button type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </div>

          <div class="d-flex gap-2 flex-wrap justify-content-between">

            <a href="/aton/fotos/{{nif}}" class="btn btn-outline-secondary">
              Volver atrás
            </a>
            <a type="submit" onclick="abreModalFoto('{{nif}}','{{nombre}}')" class="btn btn-outline-danger"><i
                class="fa fa-trash"></i>Del</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{>ModalBorradoFoto}}

<script>
  function mostrarEdicion() {
    const campo = document.getElementById('campo-edicion');
    if (campo.classList.contains('d-none')) {
      campo.classList.remove('d-none');
      campo.classList.add('d-block');
    } else {
      campo.classList.remove('d-block');
      campo.classList.add('d-none');
    }
  }
</script>