<div class="container p-4">
    <div class="row mb-3">
        <div class="col-md-3 mx-auto">
            <a href="/aton/plantilla/{{nif}}" class="btn btn-primary btn-block"> Volver atras</a>
        </div>
    </div>
   
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {{#each fotos}}
        <div class="col">
            <div class="card h-100 shadow-sm border-0">
                <a href=/aton/fotos/{{../nif}}/{{this.nombre}}>
                    <img src="/img/imagenes/{{../nif}}/{{this.nombre}}" alt="Una imagen" class="card-img-top rounded">
                </a>
                <div class="card-body">
                    <p class="fw-bold mb-2 text-truncate">{{this.descripcion}}</p>
                    {{#if this.created_at}}
                    <p>Subida el {{formatearSp this.created_at}}</p>
                    {{/if}}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a href="/aton/fotos/{{../nif}}/{{this.nombre}}" class="btn btn-primary me-2">
                            Ver Foto
                        </a>
                        <a type="submit" onclick="abreModalFoto('{{../nif}}','{{this.nombre}}')" class="btn btn-outline-danger"><i
                                class="fa fa-trash"></i>Del</a>
                    </div>
                    </form>

                </div>
            </div>
        </div>
        {{/each}}
    </div>

     <div class="row my-4">
        <div class="col-md-12 mx-auto bg-white p-4 rounded">
            <h4>Subir nueva imagen</h4>
            <form action="/aton/upload/{{nif}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="nif" value="{{nif}}">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="imagen">
                    <button type="submit" class=" btn btn-primary btn-block">Subir</button>
                </div>
                <div class="form-group"><label for="altura">Descripcion Imagen</label><input class="form-control"
                        type="text" name="descripcion" placeholder="descripcion" /> </div>
            </form>
        </div>


    </div>
</div>

{{>ModalBorradoFoto}}