<div class="container-fluid p-4 mb-3">
  <div class="my-2">
    <input class="form-control" id="myInput" type="text" placeholder="Filtrar por.." autofocus>
  </div>
  {{#if balizas}}
  <div class="table-responsive py-4">
    <table id="listado" class="listado mx-auto w-100 table-hover" data-search="true">
      <tr>
        <th></th>
        <th>NIF</th>
        <th class="d-none d-sm-table-cell">Puerto</th>
        <th>Tipo</th>
        <th class="d-none d-sm-table-cell">Apariencia</th>
        <th class="d-none d-xl-table-cell">Linterna</th>
      </tr>
      {{#each balizas}}
      <tr class="fila" onclick="location.href='/aton/plantilla/{{nif}}';">
        <td> {{#if hasTicket}}<i class="fa fa-exclamation-triangle blink_me" aria-hidden="true"></i> {{/if}}{{#if necesita_pintado}}<i class="fa fa-thin fa-paint-roller" aria-hidden="true"></i> {{/if}}</td>
        <td>{{nif}}</td>
        <td class="d-none d-sm-table-cell">{{puerto}}</td>
        <td>{{tipo}} </td>
        <td class="d-none d-sm-table-cell">{{apariencia}}</td>
        <td class="d-none d-xl-table-cell">{{linterna}} </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{else}}
  <div class="col-md-4-mx-auto">
    <div class="card card-body text-center">
      <tr>No hay balizas guardadas <a href="/aton/add"> Crea una!</a></tr>
    </div>
  </div>
  {{/if}}
  <h1>TOTAL: <span id="suma"></span> / {{suma balizas}} </h1>
</div>