<div class="container-fluid mb-5">
    {{!-- TICKETS --}}
    <div class="row my-2 mx-4">
        <div class="text-center">
            <a class="btn btn-outline-danger btn-sm" href="/tickets/add/{{baliza.nif}}">CREAR TICKET</a>
            <a class="btn btn-outline-secondary btn-sm" href="/aton/pintura/{{baliza.nif}}">PINTADO</a>
            <a class="btn btn-outline-secondary btn-sm" href="/mantenimientopreventivo/add/{{baliza.nif}}">INICIAR
                PREVENTIVO</a>
            {{#if baliza.necesita_pintado}}
            <button onclick="document.getElementById('myModalPintado').style.display = 'block';"
                class="btn btn-danger  float-right"> <i class="fa fa-paint-brush"></i> </button>
            {{/if}}
            <a class="btn btn-outline-secondary btn-sm" href="/aton/activado/{{baliza.nif}}"> {{#if
                baliza.apagada}}APAGADA {{else}}ACTIVADA{{/if}}</a>
        </div>

    </div>
    {{#if tickets}}
    <div class="row mb-2 mx-4">
        <div class="col-md-6 mx-auto">
            <table class="table table-responsive-sm rounded table-danger table-sm table-striped mx-auto">
                <tr>
                    <th class="text-center">El AtoN {{baliza.nif}} tiene tickets activos</th>
                </tr>
                {{#each tickets}}
                <tr class="text-center">
                    <td>
                        <span> Id:{{this.ticket_id}} - '{{this.titulo}}'</span> <span class="d-none d-sm-inline">
                            asignado a {{this.assigned_to}} el dia {{formatearSp
                            this.created_at}}</span> <a href="/tickets/edit/{{this.ticket_id}}" class="text-primary"><i
                                class="fa fa-pen-to-square"></i>Edit</a></th>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/if}}
    {{#if preventivos}}
    <div class="row mb-2 mx-4">
        <div class="col-md-6 mx-auto">
            <table class="table table-responsive-sm rounded table-warning table-sm table-striped mx-auto">
                <tr>
                    <th class="text-center">El AtoN {{baliza.nif}} tiene preventivos iniciados</th>
                </tr>
                {{#each preventivos}}
                <tr class="text-center">
                    <td>
                        <span> Id:{{this.preventivo_id}} - </span> <span class="d-none d-sm-inline">
                            Última modificacion por {{this.created_by}} el dia {{formatearSp this.created_at}}</span> <a
                            href="/mantenimientopreventivo/edit/{{this.preventivo_id}}" class="text-primary"><i
                                class="fa fa-pen-to-square"></i>Edit</a></th>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/if}}

    <div class="row mx-1">
        {{!-- Fotos --}}
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="luzCard">
                <div id="luz"></div>
            </div>
            <h1 class="text-center">Fotos</h1>
            <div class="miCarrusel">
                {{#each fotos}}
                <img src="/img/imagenes/{{../baliza.nif}}/{{this}}" alt="/img/imagenes/{{../baliza.nif}}/{{this}}">
                {{/each}}
            </div>
            <div class="input-group">
                <a href="/aton/fotos/{{baliza.nif}}" class="btn btn-primary btn-block mx-auto mt-2"> GALERIA DE
                    FOTOS</a>
            </div>

        </div>
        {{!-- Caracteristicas --}}
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 ">
            <h1 class="text-center"> Caracteristicas </h1>
            <table class="table table-dark rounded table-hover">
                <tr>
                    <th>NIF</th>
                    <td>{{baliza.nif}}</td>
                </tr>
                <tr>
                    <th># Int</th>
                    <td>{{baliza.num_internacional}}</td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{baliza.tipo}}</td>
                </tr>
                <tr>
                    <th>Apariencia</th>
                    <td id="aparienciaID"> {{baliza.apariencia}}</td>
                </tr>
                <tr>
                    <th>Periodo</th>
                    <td>{{baliza.periodo}} s</td>
                </tr>
                <tr>
                    <th>Caracteristica</th>
                    <td id="caracteristicaID">{{baliza.caracteristica}}</td>
                </tr>
                <tr>
                    <th>Telecontrol</th>
                    <td id="caracteristicaID">{{baliza.telecontrol}}</td>
                </tr>
                <tr>
                    <th>Es Boya?</th>
                    <td id="esBoya"> {{#if baliza.esBoya}} SI

                        <a class="btn btn-outline-primary btn-xs btn-block mx-auto" href="#datos_fondeo"
                            value="Ver Datos">VER FONDEO</a>
                        {{else}} NO

                        {{/if}}
                    </td>
                </tr>
            </table>
            <div class="input-group">
                <a class="btn btn-outline-primary btn-xs btn-block mx-auto"
                    href="/aton/editCaracteristicas/{{baliza.nif}}">
                    ACTUALIZAR CARACTERISTICAS</a>
            </div>
        </div>
        {{!-- Localizacion --}}
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 ">
            <h1 class="text-center"> Localizacion </h1>
            <table class="table table-dark table-hover">
                {{!-- <tr>
                    <th>NIF</th>
                    <td>{{baliza.nif}}</td>
                </tr> --}}
                <tr>
                    <th>Puerto</th>
                    <td>{{baliza.puerto}}</td>
                </tr>
                <tr>
                    <th># Local</th>
                    <td>{{baliza.num_local}}</td>
                </tr>
                <tr>
                    <th>Localizacion</th>
                    <td>{{baliza.localizacion}}</td>
                </tr>
                <tr>
                    <th>Latitud</th>
                    <td>{{baliza.latitud}}</td>
                </tr>
                <tr>
                    <th>Longitud</th>
                    <td>{{baliza.longitud}}</td>
                </tr>
                <tr>
                    <th>Coordenadas</th>
                    <td>{{getLatIALAformat baliza.coordenadas.x}} / {{getLngIALAformat baliza.coordenadas.y}}</td>
                </tr>
            </table>
            <div class="input-group">
                <a class="btn btn-outline-primary btn-xs btn-block mx-auto mb-2"
                    href="/aton/editLocalizacion/{{baliza.nif}}">ACTUALIZAR
                    LOCALIZACION </a>

                <a class="btn btn-outline-primary btn-xs btn-block mx-auto" href="/mapa/{{baliza.nif}}">VER UBICACION <i
                        class="fa fa-map-marker"></i>
                </a>
            </div>
        </div>
        {{!-- Lampara --}}
        <div class="col-lg-3 col-md-12 col-sm-6 col-xs-12 ">
            <h1 class="text-center"> Lampara </h1>
            <table class="table table-dark table-hover">
                <tr>
                    <th>Altura(m)</th>
                    <td>{{baliza.altura}}</td>
                </tr>
                <tr>
                    <th>Elevacion (m)</th>
                    <td>{{baliza.elevacion}}</td>
                </tr>
                <tr>
                    <th>Linterna</th>
                    <td>{{baliza.linterna}}</td>
                </tr>
                <tr>
                    <th>Alcance Nominal (MN)</th>
                    <td>{{baliza.alcanceNom}}</td>
                </tr>
                <tr>
                    <th>Alcance Luminoso (MN)</th>
                    <td>{{baliza.alcanceLum}}</td>
                </tr>
                <tr>
                    <th>Intensidad estacionaria (Cd)</th>
                    <td>{{baliza.candelasCalc}}</td>
                </tr>
                <tr>
                    <th>Intensidad instalada (Cd)</th>
                    <td>{{baliza.candelasInst}}</td>
                </tr>
            </table>
            <div class="input-group">
                <a class="btn btn-outline-primary btn-xs btn-block mx-auto"
                    href="/aton/editLampara/{{baliza.nif}}">ACTUALIZAR
                    LAMPARA</a>
            </div>
        </div>
    </div>
    {{!-- Observaciones --}}
    <div class="row mx-1 mt-2">
        <div class="col-sm-12">
            <h1 class="text-center"> Observaciones </h1>
            <table class="table table-responsive-sm table-dark table-hover">
                {{#each obs}}
                <tr>
                    <td>{{this.observaciones}}</td>
                    <td class="text-center" style="width: 150px;">
                        <div>
                            <a href="/aton/observaciones/edit/{{this.id_observacion}}" class="text-light"><i
                                    class="fa fa-pencil"></i>Edit</a>
                        </div>
                        <div>
                            {{!-- <a type="submit" href="/aton/observaciones/delete/{{this.id_observacion}}"
                                class="text-light "><i class="fa fa-trash"></i>Del</a> --}}
                            <a type="submit" onclick="abreModalObs({{this.id_observacion}})" class="text-light "><i
                                    class="fa fa-trash"></i>Del</a>
                        </div>
                    </td>
                </tr>
                {{/each}}
                <form action="/aton/observaciones/add" method="POST">
                    <input type="hidden" name="nif" value="{{baliza.nif}}">
                    <tr>
                        <td class="w-90"><input type="text" name="observaciones" class="w-100" required /></td>
                        <td class="text-center" style="width: 200px;"> <input type="submit" value="añadir"
                                class="btn btn-primary btn-xs btn-block " /></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
    {{!-- Mantenimiento --}}
    <div class="row mx-1  mt-2">
        <div class="col-sm-12">
            <h1 class="text-center"> Mantenimiento </h1>
            <table class="table table-responsive-sm table-dark table-hover">
                <tr>
                    <th class="text-center">Fecha</th>
                    <th>Descripcion</th>
                    <th>Edicion</th>
                </tr>
                {{#each mant}}
                <tr>

                    {{!-- <td>{{timeago fecha}}</td> asi haciendo uso del timeago--}}
                    <td class="text-center"> {{formatearSp fecha}}</td>
                    <td class="w-90 text-justify">{{mantenimiento}}</td>
                    {{!-- <td> <a href="" class="btn btn-primary btn-xs btn-block"><i
                                class="fa fa-pen-to-square">borrar</i> </a> </td> --}}
                    <td class="text-center">
                        <input type="hidden" name="nif" value='{{baliza.nif}}' />
                        <input type="hidden" name="fecha" value='{{fecha}}' />
                        <input type="hidden" name="mantenimiento" value='{{mantenimiento}}' />
                        <div>
                            <a href="/aton/mantenimiento/edit/{{this.id_mantenimiento}}" class="text-light"><i
                                    class="fa fa-pencil"></i>Edit</a>
                        </div>
                        <div>
                            {{!-- <a href="/aton/mantenimiento/delete/{{this.id_mantenimiento}}" class="text-light"><i
                                    class="fa fa-trash"></i>Del</a> --}}

                            <a type="submit" onclick="abreModalMant({{this.id_mantenimiento}})" class="text-light "><i
                                    class="fa fa-trash"></i>Del</a>
                        </div>
                    </td>
                </tr>

                {{/each}}
                <form action="/aton/mantenimiento/add" method="POST">
                    <input type="hidden" name="nif" value='{{baliza.nif}}' />
                    <tr>
                        <td class="text-center"><input type="date" name="fecha" required /></td>
                        <td><input type="text" name="mantenimiento" required style="width: 100%;" /></td>
                        <td class="text-center"> <input type="submit" value="añadir"
                                class="btn btn-primary btn-xs btn-block" /></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

    {{#if baliza.esBoya}}
    <div class="row mx-1  mt-2" id="datos_fondeo">
        <div class="col-sm-12">
            <h1 class="text-center"> DATOS DEL FONDEO </h1>
            {{#if fondeo}}
            <table class="table table-dark table-hover">
                {{!-- <tr>
                    <th>NIF</th>
                    <td>{{baliza.nif}}</td>
                </tr> --}}
                <tr>
                    <th>Calado</th>
                    <td>{{fondeo.calado}} m</td>
                </tr>
                <tr>
                    <th>Cadena</th>
                    <td>Longitud {{fondeo.longitud_cadena}} m. Diametro Eslabon {{fondeo.diametro_cadena}}mm</td>
                </tr>
                <tr>
                    <th>Ubicacion en aguas</th>
                    <td>{{fondeo.ubicacion}}</td>
                </tr>
                <tr>
                    <th>Dimensiones del muerto</th>
                    <td>{{fondeo.l_muerto}} x {{fondeo.b_muerto}} x {{fondeo.h_muerto}} cm3</td>
                </tr>
                <tr>
                    <th>Datos Obra viva</th>
                    <td>Area water {{fondeo.area_total_viva}}m2 Cd: {{fondeo.Cw_aerodinamico}}</td>
                </tr>
                <tr>
                    <th>Datos Obra viva</th>
                    <td>Area draft {{fondeo.area_total_muerta}}m2 Cd: {{fondeo.Cd_aerodinamico}}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{ fondeo.observaciones}} </td>
                </tr>
                <tr>
                    <th>Ultima Actualizacion</th>
                    <td>{{formatearSp fondeo.last_modified}} </td>
                </tr>
            </table>
            <div class="input-group">
                <a class="btn btn-outline-primary btn-xs btn-block mx-auto mb-2"
                    href="/aton/editFondeo/{{baliza.nif}}">ACTUALIZAR
                    FONDEO </a>
            </div>
            {{else}}
            <div class="input-group">
                <a class="btn btn-outline-primary btn-xs btn-block mx-auto mb-2"
                    href="/aton/editFondeo/{{baliza.nif}}">INTRODUCIR
                    FONDEO </a>
            </div>
            {{/if}}
        </div>
    </div>
    {{/if}}

    <div class="row mx-1 mb-5">
        <div class="col-sm-12">
            <button onclick="document.getElementById('myModalBorrado').style.display = 'block';"
                class="btn btn-outline-danger">ELIMINAR ATON</button>
        </div>
    </div>
</div>