<input type="hidden" value="{{baliza.latitud}}" id="lat" size="9" />
<input type="hidden" value="{{baliza.longitud}}" id="lng" size="9" />
<input type="hidden" value="{{baliza.nif}}" id="nif" size="9" />
<input type="hidden" value="{{baliza.caracteristica}}" id="caracteristica" size="9" />
<input type="hidden" value="{{baliza.apariencia}}" id="apariencia" size="9" />
<input type="hidden" value="{{baliza.tipo}}" id="tipo" size="9" />
<div id="myMap"></div>

