<div class="mt-2 mx-4 d-flex justify-content-start">
    <div class="border border-primary rounded d-flex justify-content-start p-1 mx-4">
        <div class="d-flex flex-column align-self-center">
            <div>Lat: </div>
            <div>Lng: </div>
        </div>
        <div class="d-flex flex-column align-self-center">
            <input type="text" id="latmarkerWGS" onkeyup="actualizarCoordenadaWGS2DEC()" value="39º 26.651´N"> <input
                type="text" id="lngmarkerWGS" value="00º 17.500´ W" onkeyup="actualizarCoordenadaWGS2DEC()">
        </div>
        <div class="d-flex flex-column align-self-center mx-1">
            <input type="text" id="latmarker" value="39.442097" onkeyup="actualizarCoordenadaDEC2WGS()"> <input
                type="text" id="lngmarker" value="-0.28204" onkeyup="actualizarCoordenadaDEC2WGS()">
        </div>
        <div class="d-flex flex-column align-self-center">
            <button onclick="drawThisPin()" class="btn btn-secondary btn-sm">Draw New Pin</button>
        </div>
    </div>
    <div class="border border-warning rounded d-flex justify-content-start p-1 ">
        <div class="d-flex flex-column mx-4 align-self-center">
            <button onclick="clearAll()" class="btn btn-outline-secondary btn-sm">Limpiar todo</button>
            <button onclick="clearLast()" class="btn btn-outline-secondary btn-sm">Limpiar ultimo</button>
        </div>
    </div>

</div>

<div class="mt-2 h-75 d-flex align-items-center justify-content-center">
    <div id="myMap" class="m-2 h-100 w-100"></div>
</div>
<input type="hidden" value="{{protocol}}" id="protocolo" />
<input type="hidden" value="{{baliza.latitud}}" id="lat" />
<input type="hidden" value="{{baliza.longitud}}" id="lng" />
<input type="hidden" value="{{baliza.coordenadas}}" id="coordenadas" />
<input type="hidden" value="{{baliza.nif}}" id="nif" />
<input type="hidden" value="{{baliza.caracteristica}}" id="caracteristica" />
<input type="hidden" value="{{baliza.apariencia}}" id="apariencia" />
<input type="hidden" value="{{baliza.tipo}}" id="tipo" />