<div class="mt-2 h-75 d-flex align-items-center justify-content-center">
    <div id="myMap" class="m-2 h-100 w-100"></div>
</div>
    <p>Distancia: <span id="distance"></span>m</p>

<div class="mt-2 column d-flex justify-content-center">
    <div class="input-group-sm mx-4">
        <input type="text" id="latmarkerWGS" onkeyup="actualizarCoordenadaWGS2DEC()" value="39º 26.651´N"> <input
            type="text" id="lngmarkerWGS" value="00º 17.500´ W" onkeyup="actualizarCoordenadaWGS2DEC()">
    </div>
    <div class="input-group-sm ">
        <input type="text" id="latmarker" value="39.442097" onkeyup="actualizarCoordenadaDEC2WGS()"> <input type="text"
            id="lngmarker" value="-0.28204" onkeyup="actualizarCoordenadaDEC2WGS()"> <button onclick="drawPin()"
            class="btn btn-outline-secondary btn-sm">Draw New Pin</button>
    </div>
</div>
<div class="mt-2 column d-flex justify-content-center mb-5">
    <p> La distancia es: <span id="distance"></span>m</p>
</div>

<input type="hidden" value="{{protocol}}" id="protocolo" />
<input type="hidden" value="{{baliza.latitud}}" id="lat" />
<input type="hidden" value="{{baliza.longitud}}" id="lng" />
<input type="hidden" value="{{baliza.coordenadas}}" id="coordenadas" />
<input type="hidden" value="{{baliza.nif}}" id="nif" />
<input type="hidden" value="{{baliza.caracteristica}}" id="caracteristica" />
<input type="hidden" value="{{baliza.apariencia}}" id="apariencia" />
<input type="hidden" value="{{baliza.tipo}}" id="tipo" />