<div class="mt-2 h-75 d-flex align-items-center justify-content-center">
    <div id="myMap" class="m-2 h-100 w-100"></div>
</div>

<input type="hidden" value="{{protocol}}" id="protocolo" />
<input type="hidden" value="{{baliza.latitud}}" id="lat" />
<input type="hidden" value="{{baliza.longitud}}" id="lng" />
<input type="hidden" value="{{baliza.coordenadas}}" id="coordenadas" />
<input type="hidden" value="{{baliza.nif}}" id="nif" />
<input type="hidden" value="{{baliza.caracteristica}}" id="caracteristica" />
<input type="hidden" value="{{baliza.apariencia}}" id="apariencia" />
<input type="hidden" value="{{baliza.tipo}}" id="tipo" />