<div class="container-fluid p-4 mb-3">
  <div class="my-2">
    <input class="form-control" id="myInput" type="text" placeholder="Filtrar por.." autofocus>
  </div>
  {{#if balizas}}
  <div class="table-responsive py-4">
    <table id="listado" class="listado mx-auto w-100 table table-hover table-dark" data-search="true">
      <tr>
        <th class="m-0 p-0">
          {{#if numTickets}}
          <span class="badge badge-secondary m-0 p-0" data-toggle="tooltip" data-placement="top"
            title="Numero de tickets activos">
            <span class="badge badge-light m-0 p-0">{{numTickets}}</span>
            <i class="fa fa-exclamation-triangle m-0 p-0" aria-hidden="true"></i>
          </span>
          {{/if}}
          {{#if numPintado}}
          <span class="badge badge-secondary m-0 p-0" data-toggle="tooltip" data-placement="top"
            title="Numero de señales que requiere pintado">
            <span class="badge badge-light m-0 p-0">{{numPintado}}</span>
            <i class="fa fa-paint-brush m-0 p-0" aria-hidden="true"></i>
          </span>
          {{/if}}
          {{#if numPreventivos}}
          <span class="badge badge-secondary m-0 p-0" data-toggle="tooltip" data-placement="top"
            title="Numero de preventivos en curso">
            <span class="badge badge-light m-0 p-0">{{numPreventivos}}</span>
            <i class="fa fa-file m-0 p-0" aria-hidden="true"></i>
          </span>
          {{/if}}
        </th>
        <th>NIF</th>
        <th class="d-none d-sm-table-cell">Tipo</th>
        <th>Muerto y Calado</th>
        <th class="d-none d-sm-table-cell">Cadena</th>
        <th class="d-none d-xl-table-cell">Observaciones</th>
      </tr>
      {{#each balizas}}
      <tr class="fila" onclick="location.href='/aton/plantilla/{{nif}}#datos_fondeo';">
        <td class="text-center" style="min-width: 40px;">
          {{#if necesita_pintado}}<i class="fa fa-paint-brush blink_me" aria-hidden="true" data-toggle="tooltip"
            data-placement="top" title="Necesita ser pintado"></i>{{/if}}
          {{#if hasTicket}}<i class="fa fa-exclamation-triangle blink_me" aria-hidden="true" data-toggle="tooltip"
            data-placement="top" title="Ticket pendiente"></i> {{/if}}
          {{#if hasPreventivo}}<i class="fa fa-file blink_me" aria-hidden="true" data-toggle="tooltip"
            data-placement="top" title="Tiene preventivo en curso"></i> {{/if}}
        </td>
        <td style="width: 80px;" class="  text-truncate">{{nif}}</td>
        <td class="d-none d-sm-table-cell  text-truncate" style="max-width: 150px;">{{tipo}}</td>
        <td class="text-truncate"> {{#if l_muerto}} Muerto de {{h_muerto}}x{{b_muerto}}x{{l_muerto}} a {{/if}}  {{#if calado}}  {{calado}}m profundidad{{/if}} </td>
        <td class="d-none d-sm-table-cell  text-truncate" style="max-width: 100px;">L:{{longitud_cadena}}m de {{diametro_cadena}}mm de diametro</td>
        <td class="d-none d-xl-table-cell  text-truncate" style="max-width: 200px;"> {{observaciones}} </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{else}}
  <div class="col-md-4-mx-auto">
    <div class="card card-body text-center">
      <tr>No hay balizas guardadas <a href="/aton/add"> Crea una!</a></tr>
    </div>
  </div>
  {{/if}}
  <h1>TOTAL: <span id="suma"></span> / {{suma balizas}} </h1>
</div>