<div class="container-fluid mb-5">
    <!-- id="cuerpo" -->
    <div class="row text-center my-2">
        <div class="col-md-11 mx-auto">
            <h1>SISTEMA DE TICKETS <i class="fa fa-ticket" aria-hidden="true"></i></h1>
            <div> <a class="btn btn-primary" href="/tickets/add">Abrir Nuevo Ticket</a></div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-11 col-xl-11 mx-auto">
            <h3>TICKETS
                {{#if ticketsAbiertos}}
                ABIERTOS
                {{/if}}
                {{#if ticketsCerrados}}
                CERRADOS
                {{/if}}
            </h3>
            <div class="my-2">
                <input class="form-control" id="myInput" type="text" placeholder="Filtrar por..." autofocus>
            </div>
            <div class="table-responsive">
                {{#if tickets}}
                <table data-search="true" id="listado" class="table table-sm table-dark rounded table-hover listado"
                    style="white-space: nowrap; overflow-x: auto;">
                    <tr class="info-color-dark">
                        <th>NIF</th>
                        <th>Averia</th>
                        <th class="d-none d-xl-table-cell">Trabajo</th>
                        <th class="d-none d-md-table-cell">Creado por</th>
                        <th class="d-none d-sm-table-cell">Assignado a</th>
                        <th class="d-none d-md-table-cell">Estado</th>
                        <th>Accion</th>
                    </tr>

                    {{#each tickets}}
                    <tr class="fila">
                        <td> <a href="/aton/plantilla/{{ this.nif }} ">{{ this.nif }}</a> </td>
                        <td>{{ this.titulo }} </td>
                        <td class="d-none d-xl-table-cell">{{ this.descripcion }} </td>
                        <td class="d-none d-md-table-cell">{{ this.created_by }} </td>
                        <td class="d-none d-sm-table-cell">{{ this.assigned_to }} </td>

                        {{#if this.solved_at}}
                        <td class="d-none d-md-table-cell">cerrado {{ timeagoSpCerrado this.solved_at }} por
                            {{this.resolved_by}} </td>
                        {{else}}
                        <td class="d-none d-md-table-cell">activo {{timeagoSp this.created_at }} </td>
                        {{/if}}

                        <td>
                            {{#if this.solved_at}}
                            <a href="/tickets/cerrado/{{this.ticket_id}}" class="text-primary"><i
                                    class="fa fa-eye"></i>View</a>
                            {{else}}
                            <a href="/tickets/edit/{{this.ticket_id}}" class="text-primary"><i
                                    class="fa fa-pencil"></i>Edit</a>
                            {{/if}}

                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <p>No hay tickets </p>
                    {{/if}}
                </table>
            </div>
        </div>
    </div>
</div>