<div class="container p-4 mb-5">
  <div class="row4">
    <div class="col-md-12 mx-auto">
      <div class="card text-center">
        <div class="card-body">

          <h3>Bienvenid@ {{user.usuario}} </h3>
          {{>avatar}}
          <div class="col-md-6 mx-auto">
            <form action="/upload/{{user.id}}" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="user" value="{{user.usuario}}" />
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile02" />
                  <label class="custom-file-label" for="inputGroupFile02">Choose
                    file</label>
                </div>
                <div class="input-group-append">
                  <button type="submit" class="input-group-text">Upload</button>
                </div>
              </div>

            </form>
          </div>
          {{#if user.pictureURL}}
          <a href="/profile/borrarfoto/{{user.id}}/{{user.pictureURL}}" class="btn btn-primary btn-sm">Eliminar foto
            perfil</a>
          {{/if}}

          {{#if user.privilegio}}
          <p> Privilegio: {{user.privilegio}}</p>
          {{/if}}

          <form action="/profile/edit/" method="POST">
            <div class="form-group">
              <input type="hidden" name="id" value="{{user.id}}" />
              <label for="full_name">Nombre completo
                <input type="text" value="{{user.full_name}}" name="full_name" class="form-control" autofocus
                  required />
              </label>

              <label for="usuario">Usuario
                <input type="text" value="{{user.usuario}}" name="usuario" class="form-control" />
              </label>

              <label for="email">eMail
                <input type="text" value="{{user.email}}" name="email" class="form-control" /></label>
            </div>

            <div class="form-group">
              <label for="newcontrasena">Nueva Contraseña
                <input type="password" placeholder="Nueva contraseña" name="newcontrasena" required
                  class="form-control" /></label>
              <label for="newcontrasena2">Confirme Contraseña
                <input type="password" placeholder="Repita contraseña" name="newcontrasena2" required
                  class="form-control" /></label>
              <label for="oldcontrasena">Vieja Contraseña
                <input type="password" name="oldcontrasena" class="form-control" required /></label>
            </div>

            <button class="btn btn-primary m-4 btn-sm">
              Guardar cambios
            </button>
          </form>
          <a href="/profile" class="btn btn-danger btn-sm m-4"> Cancelar cambios </a>

          {{#if (esAdmin user.privilegio)}}
          <a onclick="document.getElementById('modalAdmin').style.display = 'block';document.getElementById('privilegio').value = 'san';"
            class="btn btn-warning btn-sm m-4"> Degradar a Tecnico </a>
          {{else if (esTecnico user.privilegio)}}
          <a onclick="document.getElementById('modalAdmin').style.display = 'block';document.getElementById('privilegio').value = 'admin';"
            class="btn btn-warning btn-sm m-4"> Hacer Admin </a>
          <a onclick="document.getElementById('modalAdmin').style.display = 'block';document.getElementById('privilegio').value = '';"
            class="btn btn-warning btn-sm m-4"> Eliminar privilegios </a>
          {{else}}
          <a onclick="document.getElementById('modalAdmin').style.display = 'block';document.getElementById('privilegio').value = 'san';"
            class="btn btn-warning btn-sm m-4"> Hacer Tecnico </a>
          {{/if}}


          {{>ModalPrivilegios}}
        </div>
      </div>
    </div>
  </div>
</div>