<!-- CUERPO -->
<div class="container-fluid">
    <!-- id="cuerpo" -->
    <div class="text-center m-4"> <a class="btn btn-primary" href="/aton/fotos/backup/zip">Crear dump FOTOS</a></div>
    <h1 class="text-center">LISTADO FOTOS</h1>
    <div class="row my-4">
        <div class="col-11 mx-auto">
            <table class="table table-bordered table-dark table-hover my-4">
                <tr>
                    <th class="d-none d-lg-table-cell">#</th>
                    <th>Nombre</th>
                    <th class="d-none d-sm-table-cell">Tamaño</th>
                    <th class="d-none d-md-table-cell">Creado</th>
                    <th>acciones</th>
                </tr>
                {{#if backups}}
                {{#each backups}}
                <tr>
                    <td class="d-none d-lg-table-cell"> {{@key}}</td>
                    <td>
                        <a href="/dumpFOTOS/{{this.name}}" target="_blank"> {{this.name}} </a>
                    </td>
                    <td class="d-none d-sm-table-cell">
                        {{this.size}} MB
                    </td>

                    <td class="d-none d-md-table-cell">{{ timeago this.created_at}}</td>
                    <td> <a type="submit" href="/backupsfotos/del/{{this.name}}" class="text-primary"><i
                                class="fa-solid fa-trash"></i>Del</a>
                        <a type="submit" href="/aton/fotos/backup/unzip/{{this.name}}" class="text-primary"><i
                                class="fa-solid fa-boxes-packing"></i>Unzip</a>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr>No hay ningún backup generado, <a href="/aton/fotos/backup/zip">crea uno</a> !! </tr>
                {{/if}}
            </table>
            <div class="col-12 col-md-6  mx-auto">
                <form action="/aton/fotos/backup/upload" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile01" name="backup">
                        <button type="submit" class=" btn btn-primary btn-block">SUBIR PACK FOTOS</button>
                        <span></span>
                    </div>
                </form>
            </div>
            <div class="text-center m-4"> <a class="btn btn-primary" href=" /aton/fotos/clean/folders"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                    title="Borra todas las carpetas que no se estén utilizando">CLEAN FOTOS</a>
            </div>
        </div>
    </div>
</div>