<!-- CUERPO -->
<div class="container-fluid">
    <!-- id="cuerpo" -->
    <a href="/preventivoUpload" class="btn btn-primary">AÑADIR DOCUMENTO</a>
    <h1 class="col-10 mx-auto text-center">LISTADO DOCUMENTOS</h1>
    <div class="row">
        <div class="col-10 mx-auto">
            <table class="table table-bordered table-dark table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Subido</th>
                    <th>acciones</th>
                </tr>
                {{#if docus}}
                {{#each docus}}
                <tr>
                    <td>
                        <a href="/informes/{{this.id_archivo}}" target="_blank"> {{this.nombre}}</a>
                    </td>
                    <td>
                        <a> {{this.descripcion}}</a>
                    </td>
                    <td>{{timeago this.created_at}}</td>
                    <td> <a href="/preventivoEdit/{{this.id_archivo}}" class="text-primary"><i
                                class="fa-solid fa-pen-to-square"></i>Edit</a> <a type="submit"
                            href="/preventivoDelete/{{this.id_archivo}}" class="text-primary"><i
                                class="fa-solid fa-trash"></i>Del</a>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr>No hay ningún documento subido, <a href="/preventivoUpload">sube uno</a> !! </tr>
                {{/if}}
            </table>
        </div>
    </div>
</div>